* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;

}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    letter-spacing: 4px;
    height: 50px;
    font-size: 1.2rem;
    line-height: 50px;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

.nav-name {
    color: #000;
    margin-left: 20px;
    padding: 0 8px;
    display: block;

}

.nav-name-strong {
    font-weight: 700;
    letter-spacing: 5px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin: 0 20px;

}

.nav-item-name {
    color: #000;
    padding: 8px;
}

.nav-item-name:hover {
    background-color: #ccc;
}


.nav-bars-icon {
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    animation: fadeIn linear .2s;

}

.nav__mobile {
    transform: translateX(100%);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    max-width: 100%;
    display: block;
    opacity: 0;
    transition: transform linear .2s, opacity linear .2s;
}

.nav-item-name-mobile:hover {
    background-color: rgba(0, 0, 0, .2);
}




.nav__input {
    display: none;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

/* background */
.background {
    position: relative;

}

.background-img {
    width: 100%;
    height: auto;
}

.background-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.4rem;
    color: #fff;
    transform: translate(-50%, -50%);
    font-weight: 400;
    letter-spacing: 4px;
}

.background-heading-strong {
    background-color: rgba(0, 0, 0, .7);
    padding: 4px;
    color: rgba(255, 255, 255, .8);
    font-weight: 700;
}


/* main */
.main {
    /* margin: 50px 40px; */
}

.content-main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Project */
#project {
    margin-bottom: 30px;
}

.section-item {
    padding-top: 80px;
}

.section-heading {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 0;
}

.item {
    position: relative;
}


.item-img {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.item-heading {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    padding: 10px 14px;
}









/* About */
.section-paragraph {
    margin-bottom: 20px;
    line-height: 1.6;
}

.item-name {
    font-size: 1.4rem;
    margin: 20px 0;
}

.item-position {
    opacity: .6;
    margin-bottom: 20px;
}

.item-description {
    line-height: 1.6;
    margin-bottom: 16px;
}

.img-opacity {
    /* opacity: .7; */
    filter: grayscale(.7);
}

.btn-contact {
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px 0;
    border: none;
    outline: none;
    transition: background-color ease-in .1s;
    cursor: pointer;
}

.btn-contact:hover {
    background-color: rgba(0, 0, 0, .2);
}






/* Contact */
.contact-des {
    line-height: 1.6;
    margin-bottom: 10px;
}

.contact-input {
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #ccc;
    margin-bottom: 14px;
}

.btn-submit {
    background: #111;
    color: #fff;
    padding: 14px;
    text-transform: uppercase;
    padding: 10px 12px;
    margin-top: 10px;
    margin-bottom: 50px;
    transition: all ease-in .1s;


}

.btn-submit:hover {
    background-color: #ccc;
    color: #111;
    cursor: pointer;
}

/* map */
.map {
    width: 100%;
    height: auto;
}

/* footer */
.footer {
    height: 84px;
    background-color: #000;
    margin-top: 4px;
}

.footer-cre {
    text-align: center;
    color: #fff;
    line-height: 84px;
}

.footer-link {
    color: #fff;
    text-decoration: underline;
}



/* responsive */
@media screen and (min-width: 64em) {

    .item,
    .section-paragraph,
    .contact-form {
        margin-top: 24px;
    }
}

@media screen and (min-width: 48em) and (max-width:63.9375em) {

    .item,
    .section-heading,
    .section-paragraph,
    .contact-form {
        margin-top: 16px;
    }
}

@media screen and (max-width : 47.9375em) {

    .nav-list {
        display: none;
    }

    .nav-bars-icon {
        display: block;
        font-size: 1.8rem;
        margin-right: 8px;
        /* padding: 1px 10px; */
        position: absolute;
        right: 0;

    }

    .nav-close-icon:hover,
    .nav-bars-icon :hover {
        opacity: .6;
    }

    .nav-close-icon {
        font-size: 1.8rem;
        float: right;
        padding: 2px 18px;
    }

    .nav-list-mobile {
        margin-top: 50px;
    }

    .nav-item-name-mobile {
        color: #333;
        width: 100%;
        display: block;
        padding-left: 50px;
    }

    .item,
    .section-heading,
    .section-paragraph,
    .contact-form {
        margin: 8px 24px;
    }

    .nav-name-primary {
        display: none;
    }
    .background{
        top: 50px;
    }
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
